@media screen and (min-width:480px){
    .layout-cta{
        font-size: 1rem;
    }

    .layout-sidebar-logo img[alt$="small"]{
        display: none;
    }

    .layout-sidebar-logo img[alt$="big"]{
        display: inline-block;
    }

    .layout-sidebar{
        min-width: 250px;
        flex-shrink: 0;
    }

    .layout-main{
        flex-basis: calc (100% - 800px);
    }

    .layout-sidebar-menu ul li a span{
        display: inline;
    }

    .layout-sidebar-menu ul{
        align-items: flex-start;
        
    }

    .layout-sidebar-menu ul li{
        border-left: 4px solid greenyellow;
    }

    .layout-sidebar-logo{
        padding-left: 15px;

    
        padding-left: 15px;
    }

    .layout-sidebar-playlist{
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 20px;
        padding-left: 15px;
    }

    .layout-sidebar-bottom hr{
        display: block;
        width: 90%;
    }
    
    .layout-sidebar-playlist-btn a{
        display: flex;
        gap: 10px;
        align-items: flex-end;
    }

    .layout-sidebar-playlist-btn a .square-icon{
        height: 25px;
        width: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #000;
        background-color: #797B81;
        
    }

    .layout-sidebar-bottom{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;
        text-transform: capitalize;
    }

    .layout-sidebar-bottom a span{
        display: inline;

    }
    
    .layout-sidebar-bottom a{
        display: flex;
        align-items: center;
        justify-content: center ;
    }


    

    
}